<% if @tarefa.errors.any? %>
  <div id ="error_explanation">
    <h2>Infelizmente não foi possível completar a ação
    pois o formulário possui os seguintes erros:</h2>
    <ul>
      <% @tarefa.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @tarefa do |f| %>
  <p>
    <%= f.label "Título"%><br />
    <%= f.text_field :titulo %>
  </p>
   <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
   <p>
    <%= f.label "Descrição" %><br />
    <%= f.text_area :descricao %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
